<% include _header %>

<div id="moduleInfo">
    <header>module metadata</header>
    <div id="icon">Icon:<br/><img src="<%= moduleInfo.metadata.icon || '/missing-icon.jpg' %>" alt="icon" /></div>
    <p>Provider: <%= moduleInfo.metadata.provider %></p>
    <p>Name: <%= moduleInfo.metadata.name %></p>
    <p>Link: <a href="<%= moduleInfo.metadata.link %>"><%= moduleInfo.metadata.link %></a></p>
    <p>Description: <%= moduleInfo.metadata.description %></p>
</div>

<p>Harness for module: <b><%= moduleInfo.name %></b></p>

<p>integrations: </p>
<ul>
    <% for(var i in moduleInfo.integrations) { %>
        <li>
            <%= i %>
                <% if(moduleInfo.integrations[i].type) { -%><em>(<%= moduleInfo.integrations[i].type %>)</em><% } -%>
                –
                <a href="/validate/<%= i %>">validate()</a>
                <% if(moduleInfo.integrations[i].request) { %>
                     / <a href="/request/<%= i %>">request()</a>
                <% } %>
                <% if(moduleInfo.integrations[i].response) { %>
                     / <a href="/response/<%= i %>">response()</a>
                <% } %>
                <% if(moduleInfo.integrations[i].handle) { %>
                     / <a href="/handle/<%= i %>">handle()</a>
                <% } %>
        </li>
    <% } %>
</ul>

<hr/>

<% if(moduleInfo.hasUI) { %>
<div style="float: left; margin-left: 1em; text-align: center;">
    <button id="initButton" style="margin-bottom: 5em;" onclick="initialize();">Launch UI</button>

    <h2># msgs:</h2>
    <h3 id="numMsgs">0</h3>
</div>

<div id="richUiModal" class="modal-content">
    <iframe id="integrationFrame" width="100%" height="428px" frameborder="10" scrolling="no" marginheight="0"
            marginwidth="0" src="/ui"></iframe>
</div>

<br/>

<textarea id="output" style="height: 20em;"></textarea>

<% } else { %>
<em>(no rich UI found)</em>
<% } %>

</body>
</html>
