<% include _header %>

<p>Harness for module: <b><%= moduleInfo.name %></b></p>

<p>integrations: </p>
<ul>
    <% for(var i in moduleInfo.integrations) { %>
        <li>
            <%= i %>
                <% if(moduleInfo.integrations[i].type) { -%><em>(<%= moduleInfo.integrations[i].type %>)</em><% } -%>
                –
                <a href="/validate/<%= i %>">validate()</a>
                <% if(moduleInfo.integrations[i].request) { %>
                     / <a href="/request/<%= i %>">request()</a>
                <% } %>
                <% if(moduleInfo.integrations[i].response) { %>
                     / <a href="/response/<%= i %>">response()</a>
                <% } %>
                <% if(moduleInfo.integrations[i].handle) { %>
                     / <a href="/handle/<%= i %>">handle()</a>
                <% } %>
        </li>
    <% } %>
</ul>

<hr/>

<div style="float: left; margin-left: 1em; text-align: center;">
    <h1>~</h1>
    <button id="initButton" style="margin-bottom: 5em;" onclick="initialize();">Initialize</button>

    <h2># msgs:</h2>
    <h3 id="numMsgs">0</h3>
</div>

<div class="modal-content" style="width: 700px; margin: auto;">
    <iframe id="integrationFrame" width="100%" height="420px" frameborder="10" scrolling="no" marginheight="0"
            marginwidth="0" src="/ui/public/index.html"></iframe>
</div>

<br/>

<textarea id="output"></textarea>

</body>
</html>
